@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
    background-color: #131316;
    color: #ffffff;
    font-family: 'Poppins, sans-serif', serif;
    padding: 0;
    margin: 0;
}

.container {
    display: grid;
    place-items: center;
    align-content: center;
    min-height: 100vh;
}

.inputbox {
    opacity: 0.8;
    border-radius: 20px;
    height: 20px;
}