@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    background-color: #F6F8F3;
    height: 100vH;
    display: flex;
    align-items: center;
    justify-content: center;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

section .navbar {
    position: relative;
    width: 100%;
    min-height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #fff;
}

header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo {
    position: relative;
    max-width: 20px;
}

header ul {
    position: relative;
    display: flex;
}

header ul li {
    list-style: none;
}

header ul li a {
    display: inline-block;
    color: #333;
    font-weight: bolder;
    margin-left: 40px;
    text-decoration: none;
}

header ul li a {
    color: black;
    transition: 0.5s ease;
}

header ul li a:hover {
    color: #CEDDC8;
    transition: 0.5s ease;
}

.swiper {
    width: 950px;
}

section .card .image {
    height: 140px;
    width: 140px;
    border-radius: 50%;
    padding: 3px;
    background: #F6F8F3;
}

section .card .image img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
    border: 3px;
}

.card {
    position: relative;
    background: #CEDDC8;
    border-radius: 20px;
    margin: 20px 0;
    width: 280px;
}

.card::before {
    content: "";
    position: absolute;
    height: 45%;
    width: 100%;
    background: #CEDDC8;
    border-radius: 20px 20px 0 0;
}

.card .card-content {
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    z-index: 100;
}


.card .like {
    position: absolute;
    top: 10px;
    right: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 20px;
    color: red;
}

.card .like:hover {
    opacity: 0.6;
    transition: 0.3s ease;
    cursor: pointer;
}


.card .activity-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
    color: #333;
}

.activity-info .name {
    font-size: 20px;
    font-weight: 600;
}

.activity-info .address {
    font-size: 15px;
    font-weight: 500;
}

.card .rating {
    display: flex;
    align-items: center;
    margin-top: 18px;
}

.card .rating i {
    font-size: 20px;
    margin: 0 2px;
    color: #EBCB4A;
}

.card .button {
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.card .button button {
    background: #000000;
    outline: none;
    border: none;
    color: #fff;
    padding: 8px 22px;
    border-radius: 20px;
    font-weight: 600;
    font-size: 14px;
    transition:  all 0.5s ease;
    cursor: pointer;
}

.button button:hover {
    opacity: 0.6;
}