@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap'); 

*{
    font-family: "Poppins", "Helvetica Neue", "Helvetica", "Arial", serif;
}

body {
    margin: 0;
    padding: 0;
    background: linear-gradient(120deg, #CEDDC8,  #F6F8F3);
    height: 100vh;
    overflow: hidden;
}

p {
    color: red;
}

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    background: #F6F8F3;
    border-radius: 10px;
}

.center h1 {
    text-align: center;
    padding: 0 0 20px 0;
    border-bottom: 1px soild silver;
}

.center form {
    padding: 0 40px;
    box-sizing: border-box;
}

form .txt_field {
    position: relative;
    border-bottom: 2px soild #adadad;
    margin: 30px 0;
}

.txt_field input {
    width: 100%;
    padding: 0 5px;
    height: 40px;
    font-size: 16px;
    border: none;
    background: none;
    outline: none;
}

.txt_field label {
    position: absolute;
    top: 50%;
    left: 5px;
    color: #adadad;
    transform: translateY(-50%);
    font-size: 16px;
    pointer-events: none;
    transition: .5s;
}

.txt_field span::before {
    content: "";
    position: absolute;
    top: 40px;
    left: 0;
    width: 100%;
    height: 2px;
    background: #CEDDC8;
    transition: .5s;
}

.txt_field input:focus ~ label, 

.txt_field input:valid ~ label {
    top: -5px;
    font-weight: bolder;
    color: #CEDDC8;
}

.txt_field input:focus ~ span::before, 

.txt_field input:valid ~ span::before {
    width: 100%;
}

.gender input:focus ~ label {
    font-weight: bolder;
    color: #CEDDC8;
}

.pass {
    margin: -5px 0 20px 5px;
    color: #adadad; 
    cursor: pointer;
}

.pass:hover {
    color: #CEDDC8;
}

input[type="submit"] {
    width: 100%;
    height: 50px;
    background: #CEDDC8;
    border-radius: 25px;
    font-size: 18px;
    color: #F6F8F3;
    font-weight: bolder;
    cursor: pointer;
    outline: none;
}

input[type="submit"]:hover {
    background: #CEDDC8;
    transition: .5s;
}

.signup {
    margin: 30px 0;
    text-align: center;
    font-size: 16px;
    color: #666666;
}

.signup a {
    color: #2691d9;
    text-decoration: none;
}

.has-account {
    margin: 30px 0;
    text-align: center;
    font-size: 16px;
    color: #666666;
}

.has-account a {
    color: #2691d9;
    text-decoration: none;
}

.gender {
    margin: 20px 0;
    text-align: center;
    outline: none;
    background: none;
    color: #adadad;
}

.gender button {
    background: none;
    color: #adadad;
    font-size: 16px;
    border: none;
    display: inline-block;
    border-radius: 20px;
}

.gender button:hover {
    cursor: pointer;
    color: #CEDDC8;
    font-weight: 850;
    transition: .3s;
}


