<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/style/contact.css}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <link rel="icon" type="image/png" th:href="@{/image/hk-logo.png}">
    <script type="text/javascript" src="https://code.jquery.com/jquery-1.7.1.min.js"></script>
    <title>Activity finder by Hassan K</title>
</head>

<body>

<section class="navbar">
    <header>
        <a href="#" class="logo"><img th:src="@{/image/hk-logo.png}" alt="hklogo"></a>
        <ul>
            <li><a th:href="@{/homepage}">Home</a></li>
            <li><a th:href="@{/get-started}">Discover</a></li>
            <li><a th:href="@{/contact}">Contact</a></li>
        </ul>
    </header>
    <section class="contact-me">
        <div class="contact-form">
            <h1>Stay in <span>touch</span></h1>
            <p>Do you have feedback, questions or are you interested in hiring me? Get in touch with me!</p>
            <form action="#" th:action="@{/contact}" method="post" th:object="${user}">
                <input th:field="*{name}" placeholder="Your name" required>
                <input th:field="*{email}" type="email" placeholder="Your e-mail" required>
                <input th:field="*{topic}" placeholder="Topic" required>
                <textarea th:field="*{message}" name="email-content" id="body" cols="30" rows="30" placeholder="Message" required></textarea>
                <input type="submit" value="contact me" id="submit-button" class="btn">
            </form>
        </div>
        <div class="profile-picture">
            <img th:src="@{/image/contact/placeholder.jpg}" alt="profile-picture" src="">
            <ul class="social-media">
                <li><a href="#"><i class="fab fa-facebook"></i></a></li>
                <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
            </ul>
        </div>
    </section>
</section>
<script>
    navigator.geolocation.getCurrentPosition(pos => {
        const coords = pos.coords.latitude + " " + pos.coords.longitude;
        $.ajax({
            type: "POST",
            contentType: "application/json",
            url: "/get-started/",
            data: coords,
            timeout: 100000
        })
    });
</script>
</body>
<script type="text/javascript" th:src="@{/js/contact-form-clear.js}"></script>
</html>