<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" th:href="@{/style/getstarted.css}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
  <link rel="icon" type="image/png" th:href="@{/image/hk-logo.png}">
  <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">
  <script src="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.js"></script>
  <script type="text/javascript" src="https://code.jquery.com/jquery-1.7.1.min.js"></script>
  <title>Activity finder by Hassan K</title>
</head>

<body>
<section class="navbar">
  <header>
    <a th:href="@{/homepage}" class="logo"><img th:src="@{/image/hk-logo.png}" alt="hklogo" src=""></a>
    <ul>
      <li><a th:href="@{/homepage}">Home</a></li>
      <li><a th:href="@{/discover}">Discover</a></li>
      <li><a th:href="@{/contact}">Contact</a></li>
      <li th:if="${session.member == null}" class="login">
        <a th:href="@{/login}">Login</a>
        <a th:href="@{/register}">Register</a>
      </li>
      <li><a th:unless="${session.member == null}" th:href="@{/logout}">Log out</a></li>
    </ul>
  </header>
<section>
  <h2 th:text="${userLocation?.toString()}"></h2>
  <div class="swiper mySwiper container">
    <div class="swiper-wrapper content">
      <div th:each="activity : ${allActivities}" class="swiper-slide card">
        <div class="card-content">
          <div class="image">
            <img th:src="${activity.getImage_path()}" alt="image" src="">
          </div>
          <div class="activity-info">
            <span class="name" th:text="${activity.getName()}"></span>
            <span class="address" th:text="${activity.getCity()}"></span>
            <span class="distance" th:object="${userLocation}" th:action="${activity.setDistance(userLocation.getDistance(activity.getCoordinate()))}" th:text="${activity.getDistance()}"></span>
          </div>
          <div class="rating">
            <i th:each="star : ${activity.getRatings()}" class="fas fa-star"></i>
          </div>
          <div class="like" th:switch="${activity.isFavorite()}">
            <i class="fa-regular fa-heart" th:case="false"></i>
            <i class="fa-solid fa-heart" th:case="true"></i>
          </div>
          <div class="button">
            <button class="send-coords">Send to Google Maps</button>
          </div>
        </div>
      </div>
        </div>
      </div>
  <div class="swiper-button-next">
  </div>
  <div class="swiper-button-prev">
  </div>
  <div class="swiper-pagination">

  </div>

</section>

<script>
  navigator.geolocation.watchPosition(function(position) {
  }, function(error) {
    if (error.code === error.PERMISSION_DENIED) {
      console.log("User has denied permission.");
      return;
    }
    if (error.code === error.POSITION_UNAVAILABLE) {
      console.log("User position is currently unavailable");
      return;
    }
    console.log("User has allowed permission - data will be sent to backend")
  })
  navigator.geolocation.getCurrentPosition(pos => {
    const coords = pos.coords.latitude + " " + pos.coords.longitude;
    $.ajax({
      type: "POST",
      contentType: "application/json",
      url: "/discover/",
      data: coords,
      timeout: 100000
    })
  });
</script>

<script>
  const swiper = new Swiper(".mySwiper", {
    slidesPerView: 3,
    spaceBetween: 30,
    slidesPerGroup: 3,
    loop: true,
    loopFillGroupWithBlank: true,
    pagination: {
      el: ".swiper-pagination",
      clickable: true,
    },
    navigation: {
      nextEl: ".swiper-button-next",
      prevEl: ".swiper-button-prev",
    },
  });
</script>
</section>
</body>

</html>