<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" th:href="@{/style/getstarted.css}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
  <link rel="icon" type="image/png" th:href="@{/image/hk-logo.png}">
  <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">
  <script src="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.js"></script>
  <title>Activity finder by Hassan K</title>
</head>

<body>
<section>
  <div class="swiper mySwiper container">
    <div class="swiper-wrapper content">
      <div th:each="activity:${allActivities}" class="swiper-slide card">
        <div class="card-content">
          <div class="image">
            <img th:src="@{/image/placeholder.png}" alt="image" src="">
          </div>
          <div class="activity-info">
            <span class="name" th:text="${activity.getName()}"></span>
            <span class="address" th:text="${activity.getCity()}"></span>
            <span class="distance" th:text="${activity.getDistance()} + km"></span>
          </div>
          <div class="rating">
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="far fa-star"></i>
            <i class="far fa-star"></i>
          </div>
          <div class="like">
            <i class="fa-regular fa-heart"></i>
          </div>
          <div class="button">
            <button class="send-coords">Send to Google Maps</button>
          </div>
        </div>
      </div>
        </div>
      </div>
  <div class="swiper-button-next">
  </div>
  <div class="swiper-button-prev">
  </div>
  <div class="swiper-pagination">

  </div>

</section>

<script>
  var swiper = new Swiper(".mySwiper", {
    slidesPerView: 3,
    spaceBetween: 30,
    slidesPerGroup: 3,
    loop: true,
    loopFillGroupWithBlank: true,
    pagination: {
      el: ".swiper-pagination",
      clickable: true,
    },
    navigation: {
      nextEl: ".swiper-button-next",
      prevEl: ".swiper-button-prev",
    },
  });
</script>

</body>

</html>