<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/style/index.css}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <link rel="icon" type="image/png" th:href="@{/image/hk-logo.png}">
    <title>Activity finder by Hassan K</title>
</head>

<body>

<section>
    <header>
        <a href="#" class="logo"><img th:src="@{/image/hk-logo.png}" alt="hklogo" src=""></a>
        <ul>
            <li><a th:href="@{/homepage}">Home</a></li>
            <li><a th:href="@{/about}">About</a></li>
            <li><a th:href="@{/contact}">Contact</a></li>
        </ul>
    </header>
    <div class="content">
        <div class="textBox">
            <h2>It has never been easier to find<span> something to do</span></h2>
            <p>With just a tap, it will show you nearby activities like sightseeing, exploring and experiencing.</p>
            <a href="#">Get started!</a>
        </div>
        <div class="imgBox">
            <img class="activity-image" th:src="@{/image/landingpage/image1.png}" alt="activityimage">
        </div>
    </div>
    <ul class="social-media">
        <li><a href="#"><i class="fab fa-facebook"></i></a></li>
        <li><a href="#"><i class="fab fa-instagram"></i></a></li>
        <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
    </ul>
</section>

</body>

</html>