<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/style/index.css}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <link rel="icon" type="image/png" th:href="@{/image/hk-logo.png}">
    <script type="text/javascript" src="https://code.jquery.com/jquery-1.7.1.min.js"></script>
    <title>Activity finder by Hassan K</title>
</head>

<body>

<section>
    <header>
        <a th:href="@{/homepage}" class="logo"><img th:src="@{/image/hk-logo.png}" alt="hklogo" src=""></a>
        <ul>
            <li><a th:href="@{/homepage}">Home</a></li>
            <li><a th:href="@{/discover}">Discover</a></li>
            <li><a th:href="@{/contact}">Contact</a></li>
            <li th:if="${session.member == null}" class="login">
                <a th:href="@{/login}">Login</a>
                <a th:href="@{/register}">Register</a>
            </li>
            <li><a th:unless="${session.member == null}" th:href="@{/logout}">Log out</a></li>
        </ul>
    </header>
    <div class="content">
        <div class="textBox">
            <h1 class="greeting" th:if="${session.member != null}" th:text="|Welcome ${session.member.getName()}!|"></h1>
            <h2>It has never been easier to find<span> something to do</span></h2>
            <p>With just a tap, it will show you nearby activities like sightseeing, exploring and experiencing.</p>
            <a th:href="@{/discover}">Get started!</a>
        </div>
        <div class="imgBox">
            <img class="activity-image" th:src="@{/image/landingpage/image1.png}" alt="activityimage">
        </div>
    </div>
    <ul class="social-media">
        <li><a href="#"><i class="fa-brands fa-github"></i></a></li>
        <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
    </ul>
</section>
<script>
    navigator.geolocation.getCurrentPosition(pos => {
        const coords = pos.coords.latitude + " " + pos.coords.longitude;
        $.ajax({
            type: "POST",
            contentType: "application/json",
            url: "/discover/",
            data: coords,
            timeout: 100000
        })
    });
</script>
</body>
</html>