<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/style/register.css}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <link rel="icon" type="image/png" th:href="@{/image/hk-logo.png}">
    <script type="text/javascript" src="https://code.jquery.com/jquery-1.7.1.min.js"></script>
    <title>Activity finder by Hassan K</title>
</head>

<body>

<div class="center">
    <h1>Create an account</h1>
    <form th:action="@{/register/create-account}" th:object="${member}" method="post">
        <div class="txt_field">
            <input type="text" id="fullname" th:field="*{name}" required>
            <p th:errors="*{name}" th:if="${#fields.hasErrors('name')}" class="text-danger"></p>
            <span></span>
            <label>Full name</label>
        </div>
        <div class="txt_field">
            <input type="email" id="email" th:field="*{email}" required>
            <p th:errors="*{email}" th:if="${#fields.hasErrors('email')}" class="text-danger"></p>
            <span></span>
            <label>E-mail</label>
        </div>
        <div class="txt_field">
            <input type="email" id="repeat-email" th:field="*{repeat_email}" required>
            <p th:errors="*{repeat_email}" th:if="${#fields.hasErrors('repeat_email')}" class="text-danger"></p>
            <span></span>
            <label>Repeat e-mail</label>
        </div>
        <div class="txt_field">
            <input type="password" id="password" th:field="*{password}" required>
            <p th:errors="*{password}" th:if="${#fields.hasErrors('password')}" class="text-danger"></p>
            <span></span>
            <label>Password</label>
        </div>
        <div class="txt_field">
            <input type="password" id="repeat-password" th:field="*{repeat_password}" required>
            <p th:errors="*{repeat_password}" th:if="${#fields.hasErrors('repeat_password')}" class="text-danger"></p>
            <span></span>
            <label>Repeat password</label>
        </div>
        <div class="pass">
            Forgot your password?
        </div>
        <input type="submit" value="Let's get started!">
        <div class="has-account">
            Already have an account?
            <a th:href="@{/login}">Log in</a>
        </div>
    </form>
</div>

</body>
</html>